{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}


{% block extra_head %}

    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/dropdowns.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/date_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chart_tools.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/filter.css' %}" type="text/css" media="all"/>

{% endblock extra_head %}

{% block content %}

    <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="collapse"
            data-target="#filter-panel">
        <span class="glyphicon glyphicon-cog">Select your filters</span>
    </button>

    <div class="">
        <div class="container-fluid">
            <div id="filter-panel" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-body padding">
                        <form class="form-inline" role="form">

                            <div class="row">
                                <div class="col mb-4 form-group">
                                    <label for="items" class="filter-col">Item</label>
                                    <select name="items" class="category_system_selects form-control"
                                            id="items">
                                        <option value="-1">All</option>
                                    </select>
                                </div>
                                <div class="col mb-4 form-group">
                                    <label for="subcategories" class="filter-col">Subcategories</label>
                                    <select name="subcategories"
                                            class="category_system_selects form-control"
                                            id="subcategories">
                                        <option value="-1">All</option>
                                    </select>
                                </div>
                                <div class="col mb-4 form-group">
                                    <label for="categories" class="filter-col">Category</label>
                                    <select name="categories" class="category_system_selects form-control"
                                            id="categories">
                                        <option value="-1">All</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col mb-4 form-group">
                                    <label for="geos" class="filter-col">Location</label>
                                    <select name="geos" id="geos" class="form-control">
                                        <option value="-1">All</option>
                                    </select>
                                </div>
                                <div class="col mb-4 form-group">
                                    <label for="target_users" class="filter-col">Target User</label>
                                    <select name="target_users" id="target_users" class="form-control">
                                        <option value="-1">All</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col mb-4 form-group">
                                    <label for="date_options" class="filter-col">Date</label>
                                    <select name="date_options" id="date_options" class="form-control">
                                        <option value="last_year">Last Year</option>
                                        <option value="last_month">Last Month</option>
                                        <option selected value="yesterday">Yesterday</option>
                                        <option value="custom_range">Custom Range</option>
                                    </select>
                                </div>
                                <div class="col mb-4 form-group">
                                    <div id="date-range-inputs"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col mb-4 form-group">
                                    <button id="custom_range_button" class="btn btn-primary">Update chart
                                    </button>
                                </div>
                                <div class="col mb-4 form-group">
                                    <button id="clear_all_filters" class="btn btn-primary ">Clear all filters
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div id="earnedtitlediv"><span class="chart_title h1">Earned</span></div>
            <div id="earnedchartdiv"></div>
            <div id="boughttitlediv"><span class="chart_title h1">Bought</span></div>
            <div id="boughtchartdiv"></div>
            <div id="soldtitlediv"><span class="chart_title h1">Sold</span></div>
            <div id="soldchartdiv"></div>
        </div>
    </div>
{% endblock content %}

{% block javascript_footer %}
    <script>
        var categories_subcategories_items_filter_data = JSON.parse('{{ categories_subcategories_items_filter_options | safe}}')
        var geo_filter_data = JSON.parse('{{ geo_filter_options | safe}}')
        var target_user_geo_filter_data = JSON.parse('{{ target_user_filter_options | safe}}')
        var chart_date_format = "{{chart_date_format}}"
        let initial_filters = {
            date__lt: '2018-11-5',
            date__gt: '2018-11-1',
        }

        $(document).ready(function () {
            draw_data_range_inputs();
            find_category_subcategory_or_item(1);
            filling_filter_options(
                categories_subcategories_items_filter_data,
                geo_filter_data,
                target_user_geo_filter_data,
            );
            refresh_chart(chart_date_format)
        })

        {#var timerabc = setInterval(function () {#}
        {#        refresh_chart(chart_date_format)#}
        {#    },#}
        {#    {{refresh_interval_milliseconds}});#}

        $('#date_options').change(function () {
            refresh_chart(chart_date_format)
        });
        $('#custom_range_button').click(function (event) {
            event.preventDefault();
            refresh_chart(chart_date_format)
        });
        $('#target_users').change(function () {
            refresh_chart(chart_date_format)
        });
        $('#geos').change(function () {
            refresh_chart(chart_date_format)
        });
        $('.category_system_selects').change(function (event) {
            category_subcategory_item_refresh_chart(event)
        });
        $("#clear_all_filters").click(function () {
            event.preventDefault();
            $('#categories').empty();
            $('#subcategories').empty();
            $('#items').empty();
            $('#geos').empty();
            $('#target_users').empty();
            $('#date_options')[0].value = 'yesterday'

            $('#categories').append('<option value="-1">All</option>');
            $('#subcategories').append('<option value="-1">All</option>');
            $('#items').append('<option value="-1">All</option>');
            $('#geos').append('<option value="-1">All</option>');
            $('#target_users').append('<option value="-1">All</option>');

            filling_filter_options(
                categories_subcategories_items_filter_data,
                geo_filter_data,
                target_user_geo_filter_data,
            );
            refresh_chart(chart_date_format)
        });

    </script>
{% endblock javascript_footer %}