{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}


{% block extra_head %}

    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/dropdowns.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chart_tools.js' %}"></script>

    <style>
        #earnedchartdiv {
            width: 60%;
            height: 250px;
            font-size: 11px;
        }

        #boughtchartdiv {
            width: 60%;
            height: 250px;
            font-size: 11px;
        }

        #soldchartdiv {
            width: 60%;
            height: 250px;
            font-size: 11px;
        }
    </style>

{% endblock extra_head %}

{% block content %}

    <div>

        <form>
            <fieldset>
                <label>Select your filters</label>
                <label for="geos">Location</label>
                <select name="geos" id="geos">
                    <option value="-1">All</option>
                </select>

                <label for="items">Item</label>
                <select name="items" class="category_system_selects" id="items">
                    <option value="-1">All</option>
                </select>

                <label for="subcategories">Subcategories</label>
                <select name="subcategories" class="category_system_selects" id="subcategories">
                    <option value="-1">All</option>
                </select>

                <label for="categories">Category</label>
                <select name="categories" class="category_system_selects" id="categories">
                    <option value="-1">All</option>
                </select>

                <label for="target_users">Target User</label>
                <select name="target_users" id="target_users">
                    <option value="-1">All</option>
                </select>

                <button id="clear_all_filters">Clear all filters</button>

            </fieldset>
        </form>

    </div>
    <h2 id="earnedtitlediv">Earned</h2>
    <div id="earnedchartdiv"></div>
    <h2 id="boughttitlediv">Bought</h2>
    <div id="boughtchartdiv"></div>
    <h2 id="soldtitlediv">Sold</h2>
    <div id="soldchartdiv"></div>

{% endblock content %}

{% block javascript_footer %}
    <script>
        var categories_subcategories_items_filter_data = JSON.parse('{{ categories_subcategories_items_filter_options | safe}}')
        var geo_filter_data = JSON.parse('{{ geo_filter_options | safe}}')
        var target_user_geo_filter_data = JSON.parse('{{ target_user_filter_options | safe}}')

        var chart_date_format = "{{chart_date_format}}"

        var myVar = setInterval(refresh_chart(chart_date_format), 1);
        let initial_filters = {
            date__lt: '2000-6-29',
            date__gt: '2000-1-1',
        }
        $(document).ready(find_category_subcategory_or_item(1));

        {#setInterval(refresh_chart(chart_date_format), 1);#}

        $(document).ready(chart_tools("{{chart_date_format}}", initial_filters));
        $(document).ready(filling_filter_options(
            categories_subcategories_items_filter_data,
            geo_filter_data,
            target_user_geo_filter_data,
            )
        );
        var timerabc = setInterval(function () {
                refresh_chart(chart_date_format)
            },
            {{refresh_interval_milliseconds}});


        {#refresh_chart(chart_date_format), 5000);//{{refresh_interval_milliseconds}});#}
        {#$(document).ready(function () {#}
        {#    console.log('hola1');#}
        {#    #}
        {#    console.log('hola2');});#}


        $('#geos').change(function () {
            refresh_chart(chart_date_format)
        });
        $('#target_users').change(function () {
            refresh_chart(chart_date_format)
        });
        $('.category_system_selects').change(function (event) {
            category_subcategory_item_refresh_chart(event)
        });

        $("clear_all_filters").click(function () {
            $('#categories').empty();
            $('#subcategories').empty();
            $('#items').empty();
            $('#geos').empty();
            $('#target_users').empty();
            refresh_chart(chart_date_format)
        });


    </script>
{% endblock javascript_footer %}